<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT" />
			<PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p %pid %-32t %m (%F:%L)\r\n" />
		</Console>
		<Console name="ConsoleError" target="SYSTEM_ERR">
			<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p %pid %-32t %m (%F:%L)\r\n" />
		</Console>
		<RollingFile name="RollingFile" fileName="logs/domain.log" filePattern="logs/domain.%i.log">
			<PatternLayout pattern="%d{dd.MM.yyyy} %d{HH:mm:ss,SSS} %pid %.80t %C(%L) %p %M %m\r\n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
		<File name="ErrorFile" fileName="logs/domain_ERROR.log">
			<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%d{dd.MM.yyyy} %d{HH:mm:ss,SSS} %pid %.80t %C(%L) %p %M %m\r\n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="ConsoleError" />
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="ErrorFile" />
		</Root>
	</Loggers>
</Configuration>